body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    
}

.js-todolist,
.input-grid
{
    display: grid;
    grid-template-columns: 200px 150px 100px 150px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center ;
}

.input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.todoadd{
    color: #ffffff;
    background-color: rgb(99, 228, 60);
    border: none;
    border-radius: 2px;
    font-size: 15px;
    cursor: pointer;
}

.nameinput,
.date {
    font-size: 15px;
    padding: 6px;
}

.deletbuton{
    background-color: rgb(153, 28, 28);
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    border-radius: 2px;
}